CODECOV_TOKEN=your_codecov_token_here
CODECOV_SERVICE=github
CODECOV_OWNER=your_org_or_username
CODECOV_REPO=your_repo_name
# Optional
CODECOV_BASE_URL=https://api.codecov.io
CODECOV_MAX_RETRIES=5
CODECOV_POLL_DELAY_MS=2000
RUST_LOG=info
